@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Titillium+Web:400,400i,700');

html {
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.row-2-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row-3-col-off {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  width: 100%;
  margin: 0;
  padding: 0;
}


.row-4-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row-5-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row-6-col {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}

.row-11-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cell, .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 2rem;
  padding: 0.5rem;
}

.spacer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1rem;
  padding: 0.5rem;
}

.smspacer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0.5rem;
}

.cell img {
  max-height: 2.125rem;
  max-width: 2.125rem;
  margin-right: 0.5rem;
}

.cell h3 img {
  max-height: 3.5rem;
  max-width: 20rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.cell h3 {
  font-family: 'Titillium Web';
  font-weight: 400i;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.025rem;
  font-size: 0.95rem;
  display: block;
}

.cell h1 {
  font-family: 'Titillium Web';
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.025rem;
  font-size: 2rem;
  display: block;:
}

.list {
  line-height: 1.3rem;
}

.header h3{
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.025rem;
  font-size: 0.75rem;
  line-height: 0.8rem;
  text-transform: uppercase;
}

.cell h4 {
  font-family: 'Titillium Web';
  font-weight: 400i;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.025rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.taller {min-height: 4rem;}

.grey { background-color: #efefef; color: #0d2240;}

.navy { background-color: #0d2240; color: #fff;}

.white { background-color: #fff; color: #0d2240; }

.fa { color: #00afed; }
.fawhite {color: #fff; }

.red {background-color: #ff4444; color: #fff;}
.cyan {background-color: #00afed; color: #fff;}
.blue {background-color: blue; color: #fff;}
.green {background-color: #49c615; color: #fff;}
.lightcy{background-color: #d4effc; color: #0d2240; }
.yellow{ background-color: #ff0;   color: #0d2240;}
.cornflower{background-color: #afbde1; color: #0d2240;}
.magenta{background-color: #ec008c;  color: #fff;}
.lightgreen {background-color:rgba(73, 198, 21, 0.15); color: #0d2240;}
.lightnavy {background-color:rgba(13, 34, 64, 0.05); color: #0d2240;}

.round {border-radius: 2.2rem 0 0 2.2rem; min-height: 4rem; flex-direction: row; }
